# Optical node simulator config

NODE_ID=optical-01
NODE_ADDRESS=127.0.0.1:39080
GROUP_ID=og-01
NODE_ROLE=PRIMARY
# PEER_NODE_ID=optical-02
# PEER_ADDRESS=127.0.0.1:39081
REPLICATION_ENABLED=false
REPLICATION_TIMEOUT_MS=2000
NODE_WEIGHT=1
SCHEDULER_ADDR=127.0.0.1:9100
HEARTBEAT_INTERVAL_MS=2000

DISKS=disk-01,disk-02,disk-03
ARCHIVE_ROOT=/tmp/zb_optical
MAX_IMAGE_SIZE_BYTES=1073741824
DISK_CAPACITY_BYTES=1099511627776
MOUNT_POINT_PREFIX=/optical
