# Real node secondary example
ZB_DISKS=disk-01:/data/secondary1
NODE_ID=node-a-secondary
NODE_ADDRESS=127.0.0.1:20081
GROUP_ID=rg-a
NODE_ROLE=SECONDARY
PEER_NODE_ID=node-a-primary
PEER_ADDRESS=127.0.0.1:20080
REPLICATION_ENABLED=true
REPLICATION_TIMEOUT_MS=2000
NODE_WEIGHT=1
SCHEDULER_ADDR=127.0.0.1:9100
HEARTBEAT_INTERVAL_MS=2000
